.classlist_bar{
  //background: green;
  width: 50px;
  height: 50px;
  margin: 10px;
  border-radius: 10px;
  text-align: center;

  //justify-items: center;
  //align-content: center;
//justify-content: center;
  //display: flex;
  //flex-direction: column;
}